<div class="container">
    <dx-data-grid class="m-3"
        id="gridContainer"
        [dataSource]="resources$ | async"
        keyExpr="id"
        [showBorders]="true"
        (onRowRemoving)="deleteResource($event)"
        (onSelectionChanged)="selectResource($event)">

        <dxi-column
            dataField="name">
        </dxi-column>

        <dxi-column
            dataField="surname">

        </dxi-column>

        <dxi-column
            dataField="address"
            cellTemplate="address">
        </dxi-column>

        <div *dxTemplate="let resource of 'address'">
            <p class="employee-notes">
                {{ resource.data.address.street + ", " + resource.data.address.city + ", " + resource.data.address.CAP }}
            </p>
        </div>

        <dxo-toolbar>
            <dxi-item>
                <dx-button
                    routerLink="/home/add-resource">
                    <i class="fa-solid fa-add"></i>{{ 'FORM.ADD' | translate }} {{ 'RESOURCE.RESOURCE' | translate }}
                </dx-button>
            </dxi-item>
        </dxo-toolbar>

        <dxo-editing
            mode="popup"
            [allowDeleting]="true"
            [useIcons]="true">
        </dxo-editing>

        <dxo-selection mode="single"></dxo-selection>
    </dx-data-grid>

</div>